<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dc.easyvideoplayer">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:resizeableActivity="true"
            android:name="com.dc.easyvideoplayer.VideoPlayerActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout"
            android:supportsPictureInPicture="true"
            android:theme="@style/ThemeVideo" />

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.dc.easyvideoplayer.casty.CastOptionsProvider" />

        <activity
            android:exported="false"
            android:name="com.dc.easyvideoplayer.casty.ExpandedControlsActivity"
            android:theme="@style/Theme.CastVideosDark" />

    </application>
</manifest>